@import "../../../../common/styles/Variablies";

.searchCityComponent {
  @include box(575px, 70px, $bgColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  flex-wrap: wrap;

  @media (max-width: 950px) {
    width: 100%;
    padding-right: 20px;
  }

  .input {
    width: 70%;

    @media (max-width: 450px) {
      width: 100%;
      margin: 10px 0;
    }
  }

  .error {
    border: $error 1px solid;

    &::placeholder {
      color: $error;
    }
  }

  .button {
    width: 25%;

    @media (max-width: 450px) {
      width: 100%;
      margin: 10px 0;
    }
  }
}