@import "../../../../common/styles/Variablies";

.citySelector {
  @include box(170px, 200px, $bgColor);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @media (max-width: 950px) {
    width: 26%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }

  .button {
    @media (max-width: 650px) {
      width: 100%;
    }
  }

  .active {
    background-color: $textColor;
  }
}