@import "../../../common/styles/Variablies";

.weatherComponent {
  display: flex;
  flex-direction: column;

  .weatherNowBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .weatherForecastBox {
    @include box(100%, 100vh, $bgColor);
    padding: 0;
    margin: 20px 0;
  }
}